header.masthead{
  height: 100vh;
  background-image: url("../../../assets/img/rentals.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.table {
  width: 100%;
}
@media (min-width: 992px) {
  .table th,
  .table td {
    font-size: 14px;
    padding: 15px;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .table th,
  .table td {
    padding: 10px;
  }
}
@media (max-width: 575.98px) {
  .table th,
  .table td {
    font-size: 10px;
    padding: 3px;
  }
  .table img {
    max-width: 50px;
    height: auto;
  }
  .table button {
    font-size: 12px;
  }
}
